.product-dv{
    display: flex;
    padding: 10px;
}
.pro-img-1{
    padding: 10px;
   
}
.color{
    color: aliceblue;
}
.pro-threimg{
    display: flex;
    gap: 10px;
    margin-top: -130px;
    margin-left: 25px;
    

}
.bg-col-4{
 
background-image: linear-gradient(to right, #dcdeea, #c6cded, #afbcf0, #95abf2, #779bf4);
}

.proimg{
    width: 180px;
    padding: 0px;
    border-radius: 10px;
}
    .pro-tit{
      margin-left:-220px;
      padding: 50px;
    }
    .rr{
        display: inline-flex;
       margin-left: 10px;
    }.pr-hr{
        width: 600px;
        
    }
    .pro-tit-2{
        display: flex;
        justify-content: first baseline;
        gap: 200px;

    }
    .pro-til-ch{
        padding: 10px;
    }
    .pro-btn{
        width: 200px;
        padding: 10px;

    }
    .pro-p2{
        text-align: left;
    }
    .pro-main-3{
        display: flex;
        justify-content: center;

    }
    .pro-crd{
        display: flex;
        gap: 30px;
        text-transform: capitalize;

       
        
    }
    .proimg-3{
        width: 200px;  
        padding: 0%; 
        ;
        border-radius: 10px;
     }
     .pro-scthre-img{
        justify-content: center;
        display: flex;
        gap: 50px;
        
     }
     .review{
        display: flex;
        gap: 20px;
        
     }
     .img-rw{
        width: 60px;
       
        border-radius: 50%;
     }
     .text-rw{
        line-height: 10px;
        margin-top: 7px;
     }
     .pymt{
       display: flex;
       gap: 20px;
     }
     .siz-inp{
        width: 570px !important;
     }
     .siz-pyp{
        margin-top: 70px;
        width: 568px !important;
        margin-left: 15px;

     }
     .pypimg{
        width: 90px;
     }
     .pypl{
        display: flex;
        gap: 10px;
     }
     .pyp-btn{
       
     }
     .nv-dis{
        display: flex !important;
    
    }
    .li-alig{
        margin-left: -10px;
    
    }
    .li-alig-1{
       
        margin-left: px;
    }
    .li-alig-2{
        margin-top: -130px !important;
        margin-left: 420px;
    
    }
    .wd-img{
        width: 180px;
    }
    .wd-img-1{
        width: 600px;
        height: 340px;
    }
    .li-alig-1:hover{
        border: none!important;
        background-color: aliceblue !important;

    }
     
     